@font-face {
  font-family: 'iconfont';  /* project id 1458141 */
  src: url('//at.alicdn.com/t/font_1458141_13i3n52g0pol.eot');
  src: url('//at.alicdn.com/t/font_1458141_13i3n52g0pol.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1458141_13i3n52g0pol.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1458141_13i3n52g0pol.woff') format('woff'),
  url('//at.alicdn.com/t/font_1458141_13i3n52g0pol.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1458141_13i3n52g0pol.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangqing:before {
  content: "\e610";
}

.icon-delivery:before {
  content: "\e659";
}
.icon-shopcart:before {
  content: "\e611";
}
.icon-shoucang:before {
  content: "\e613";
}
.icon-kefu:before {
  content: "\e604";
}
.icon-close:before{
  content:"\e668"
}